<div class="seed-container">
  <div fxLayout="column" fxFlex class="layout-toolbar" color="primary">
    <mat-toolbar color="primary" class="toolbar">
      <span class="title">ANGULAR CLI SEED</span>
      <span class="spacer"></span>
      <button mat-raised-button 
        style="color:rgba(0,0,0,.87)" 
       (click)="goNext()">
        Next
      </button>
    </mat-toolbar>
    <div fxFlex fxLayout="row" fxLayoutAlign="center center" class="content">
      <h1>SAMPLE PAGE 2</h1>
    </div>
  </div>

</div>